@use "sass:math";

@function to-screen-unit($res) {
    @if math.is-unitless($res) {
        @return $res * 1px;
    }
    @return $res;
}

@mixin max-screen($res-first, $res-last: $res-first) {
    @if $res-first == $res-last {
        $max: to-screen-unit($res-first);
        @media screen and (max-width: $max) {
            @content;
        }
    } @else if $res-first < $res-last {
        $min: to-screen-unit($res-first);
        $max: to-screen-unit($res-last);
        @media screen and (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
}

@mixin min-screen($res) {
    $min: to-screen-unit($res);
    @media screen and (min-width: $min) {
        @content;
    }
}

@mixin transition($transistion:all 0.5s ease) {
    -webkit-transition: $transistion;
    -moz-transition: $transistion;
    -ms-transition: $transistion;
    -o-transition: $transistion;
    transition: $transistion;
}
@mixin animation($animation:spin 4s linear infinite) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}
@mixin apbd-linear-gradient($color1:rgb(34,193,195),$color2: rgba(28,155,156,1),$degree:100deg){
    background:$color1;
    background: linear-gradient($degree, $color1 0%, $color2 100%);
}
@mixin apbd-radial-gradient($color1:rgb(34,193,195),$color2: rgba(28,155,156,1)){
    background:$color1;
    background: radial-gradient(circle,$color1 0%, $color2 100%);
}
