.#{$app_prefix}app {
    $grid_primary_color: #2a3436;
    $grid_button_bg_color: #727374;
  --eg-border-radius:5px;
  --eg-font-family:var(--bs-body-font-family);
  --eg-shodow-rule: 0px 3px 20px -10px #{rgba($grid_primary_color,0.6)};
  --eg-shodow-color: #{rgba($grid_primary_color,0.6)};
  --eg-loader-bg: rgba(0, 0, 0, 0.55);
  --eg-cell-header-color:#{rgba($grid_primary_color,0.05)};
  --eg-no-record-color: #{rgba($grid_primary_color,0.8)};
  --eg-row-group-title-color: #41444b;
  --eg-cell-index-color: #7f848d;
  --eg-table-border-color: #{rgba(darken($grid_primary_color,10%),0.10)};;
  --eg-hover-bg: #{rgba($grid_primary_color,0.02)};
  --eg-pg-border-color:#ccc;
  --eg-pg-btn-action-size:40px;
  --eg-pg-btn-bg: #{$grid_button_bg_color};
  --eg-pg-btn-color: #fff;
  --eg-pg-shodow-color: #ccc;
  --eg-pg-btn-size:30px;
  --eg-pagination-shadow: #{rgba($grid_primary_color,0.6)};
}
