@use "sass:color";

$app_prefix:'ab-';
$bs_prefix:'bs-';

$primary: #137035;
$primary_dark: color.adjust($primary, $lightness: -10%);
$primary_light: color.adjust($primary, $lightness: 25%);
$primary_very_light: color.adjust($primary, $lightness: 30%);
$primary-active: color.adjust($primary, $lightness: 6%);
$primary-btn-hover: color.adjust($primary, $lightness: -5%);
$primary-link-hover: color.adjust($primary, $lightness: -15%);
$primary-btn-shadow: color.adjust($primary, $lightness: 5%);

$secondary: rgba(171, 175, 177, 0.945);
$secondary-light: color.adjust($secondary, $lightness: 60%);
$secondary-active: color.adjust($secondary, $lightness: -10%);
$secondary-btn-hover: color.adjust($secondary, $lightness: -5%);
$secondary-btn-shadow: color.adjust($secondary, $lightness: 5%);
$secondary_very_light: color.adjust($secondary, $lightness: 40%);

$success:  #32722b;
$success_dark: color.adjust($success, $lightness: -5%);
$success-light: color.adjust($success, $lightness: 55%);
$success-active: color.adjust($success, $lightness: -10%);
$success-btn-hover: color.adjust($success, $lightness: -5%);
$success-btn-shadow: color.adjust($success, $lightness: 5%);
$success_very_light: color.adjust($success, $lightness: 50%);

$warning:#e97d23;
$warning-dark: color.adjust($warning, $lightness: -5%);
$warning-light: color.adjust($warning, $lightness: 40%);
$warning-active: color.adjust($warning, $lightness: -10%);
$warning-btn-hover: color.adjust($warning, $lightness: -5%);
$warning-btn-shadow: color.adjust($warning, $lightness: 5%);
$warning_very_light: color.adjust($warning, $lightness: 40%);

$danger:#DC3545;
$danger-dark: color.adjust($danger, $lightness: -5%);
$danger-light: color.adjust($danger, $lightness: 35%);
$danger-active: color.adjust($danger, $lightness: -10%);
$danger-btn-hover: color.adjust($danger, $lightness: -5%);
$danger-btn-shadow: color.adjust($danger, $lightness: 5%);
$danger_very_light: color.adjust($danger, $lightness: 40%);

$light:#f8f6f68e;
$light-dark: color.adjust($light, $lightness: -5%);
$light-light: color.adjust($light, $lightness: 15%);
$light-active: color.adjust($light, $lightness: -10%);
$light-btn-hover: color.adjust($light, $lightness: -5%);
$light-btn-shadow: color.adjust($light, $lightness: 5%);

$dark: rgba(57, 62, 69, 0.67);
$dark-light: color.adjust($dark, $lightness: 60%);
$dark-active: color.adjust($dark, $lightness: -10%);
$dark-btn-hover: color.adjust($dark, $lightness: -5%);
$dark-btn-shadow: color.adjust($dark, $lightness: 20%);
$dark_very_light: color.adjust($dark, $lightness: 60%);

$info: #B7E0FF;
$info-dark: color.adjust($info, $lightness: -5%);
$info-light: color.adjust($info, $lightness: 35%);
$info-active: color.adjust($info, $lightness: -10%);
$info-btn-hover: color.adjust($info, $lightness: -5%);
$info-btn-shadow: color.adjust($info, $lightness: 5%);
$info_very_light: color.adjust($info, $lightness: 40%);

$twitter:rgb(3, 159, 245);
$google:rgb(236, 65, 44);
$facebook:rgb(55, 101, 201);
$linkedin:#0077B5;
$instagram:#C13584;
$dribble:#ea4c89;
$youtube:#c4302b;
$skype:#00aff0;

/**
* for light mode
*/

$white:#FFFFFF;
$link-color:#767587eb;
$info-btn-color:#000000a3;;
$link-bg:#e3e3e5;

$custom-bg:#1A202C;
$body-bg: #ffffff;
$body-color: #333;

$primary-dark-color:#6D76FF;

$button_color:#fff;
$button_bg_color:$primary;
$button_bg_hover: color.adjust($primary, $lightness: -10%);
