@use "global_vriable" as *;
@use "components/mixin" as *;
@use "components/main";
@use "components/header";
@use "components/sidebar";
@use "components/guest";
@use "components/button";
@use "components/tab_btn";
@use "components/typography";
@use "components/utilities";
@use "components/common";
@use "components/input";
@use "components/input-group";
@use "components/modal";
@use "components/card";
@use "components/app-loader";
@use "components/ql-editor";
@use "components/grid_fixing";
@use "components/dropdown";
@use "components/badge";
@use "components/list";
@use "components/apbd_vcalender";
@use "components/multiselect";
@use "components/footer";
@use "components/apbd_common";
@use "components/settings_form";
@use "components/new_fixing";
@use "components/apbd_loading_button";
@use "components/google_login_btn";
@use "components/animated";
@use "components/vdropdown";
@use "components/rtl";

body {
    background: var(--ab-np-white);

    &.apbd-hide-re-badge {
        .grecaptcha-badge {
            visibility: hidden;
        }
    }

    .grecaptcha-badge {
        @media (max-width: 576px) {
            display: none !important;
        }
    }
}
